/* stile del head della pagina */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.lato-header *{
    display: inline-block;
}


/* stile del contenitore */
main {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}
.diagramma {
    display: inline-block;
    width: 30%;
    height: 100%;
}

.contenitore {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height:400px;
    border:5px solid black;
    min-width: 3rem;
    max-width: 100%;
    overflow: hidden;
}


/* stile del footer */



/* stile delle celle */

.cella-facile {
    width: 100% / 10;
    height: 100% / 10;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cella-medio {
    width: 100% / 10;
    height: 100% / 8;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cella-difficile {
    width: 100% / 10;
    height: 100% / 5;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}