/* stile del head della pagina */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.lato-header *{
    display: inline-block;
}


/* stile del contenitore */
main {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}

.contenitore {
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    border:5px solid black;
    min-width: 3rem;
    max-width: 100%;
    overflow: hidden;
}

.cento{
    width: 490px;
}

.ottanta {

    width: 394px;
}

.quaranta {
    width: 202px;
}

/* stile del footer */



/* stile delle celle */

.cella {
    height :3rem;
    width: 3rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}